[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
pytesseract = "*"
spacy = "*"
flask = "*"
google-cloud-storage = "*"
gunicorn = "*"
google-cloud-firestore = "*"
pillow = "*"

[requires]
python_version = "3.8"
