[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
ask-sdk-core = "*"
google-cloud-firestore = "*"
flask-ask-sdk = "*"
gunicorn = "*"
google-python-cloud-debugger = "*"

[requires]
python_version = "3.8"
